*{margin: 0; padding: 0; border: none; list-style: none; color: inherit; box-sizing: border-box;}


body{
    background-color: rgb(48, 42, 42);
    color: white;
    font-family:"Poppins", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 500px;
    height: 100vh;
}